gunicorn==20.0.4
flask==2.2.2
requests==2.28.1
beautifulsoup4==4.11.1
urllib3==1.26.14
tensorflow==2.10.0
tensorboard==2.10.0 
tensorboard-data-server==0.6.1  
tensorboard-plugin-wit==1.8.1  
tensorflow==2.10.0    
tensorflow-base==2.10.0
tensorflow-estimator==2.10.0 
tensorflow-io-gcs-filesystem==0.30.0
numpy==1.23.5
keras==2.10.0         
keras-preprocessing==1.1.2