
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>レシピ提案アプリ</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href='./layout1'>レシピ提案アプリ　～Recicippe～</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="./layout1">MAIN</a></li>
                <li><a href="./layout2">ABOUT</a></li>
                <li><a href="./layout3">SERVICES</a></li>
                <li><a href="./layout4">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="footer_logo">©︎ Saki Hashimoto from GeekSalon</div>
    </footer>
</body>
</html>


