{% extends "layout.html" %}
{% block content %}
<main>
    <div class="indexcontent">
        <h1 class="content_title">〜 Recicippe 〜</h1>
        <div class="content">
            <h1>SERVICES</h1>
            <h2>1. 使用方法</h2>
            <div>MAIN画面から①レシピ検索、②在庫管理、③食材アップロードができます。<br>①レシピ検索：食材・ジャンル・シーンの好きな項目に条件を記入すると、レシピが最大3件表示されます。条件が多くレシピが見つからない場合は、条件を減らして再度検索してみましょう。<br><br>②食材管理：食材を購入したら食材管理欄に追加しましょう！こまめに在庫を確認することで優先的に消費する食材が明確になり、フードロスにつながります。料理をつくったら「使用」ボタンを押しましょう！<br><br>③食材アップロード：食材の画像をアップロードして在庫に追加します。現時点では食材を１つずつアップする必要がありますが、将来的に食材をまとめて認識できるように機能拡張したいと考えています。
            </div>
        </div>
    <div>
</main>
{% endblock %}