{% extends "layout.html" %}

{% block content %}
<div>食材一覧</div>
<button onclick="location.href='/stockadd'">食材の追加</button>
<table border="1">

  <tr>
    <th>食材</th>
    <th></th>
    <th></th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{ task[1] }}</td>
    <td><form action="/stockupdate" method="POST"><button type="submit" name="update" value="{{ loop.index0 }}">編集</button></form></td>
    <td><form method="POST"><button type="submit" name="done" value="{{ loop.index0 }}">使用</button></form></td>
  </tr>
  {% endfor %}

</table>
{% endblock %}


{% extends "layout.html" %}
{% block content %}
<main>
    <div class="indexcontent">
        <h1 class="content_title">〜 Recicippe 〜</h1>
        <div class="content">
            <h1>ABOUT</h1>
                <h2>1. Recicippeとは</h2>
                <div>食材管理とレシピ提案をまるっとできるアプリです！<br>「スーパーで安売りしていて食材を大量に購入したものの、<br>レシピが思いつかなくて消費し切れない。。。」<br>「今ある食材で最大限おいしい料理をつくりたい。。。」<br>このようなご経験はありませんか？<br>Recicippeでお悩みを解消しましょう！</div>
                <h2>2. Recicippeの成り立ち</h2>
                <div>みなさまの健康や食品ロスの改善を目指して作成しました。<br>①健康のために<br>レシピの条件を入力して最適な料理を作り、健康的な食生活を実現しましょう<br>②食品ロス削減に向けて<br>日本の食品ロス量は年間522万トンです（2022年度）。<br>これは、世界中で飢餓に苦しむ人々に向けた世界の食料支援量の1.2倍に相当します。<br>ご家庭から食品ロスを減らすために日々の食材管理と料理を促進したいという想いでこのアプリを作成しました。</div>
        </div>
    <div>
</main>
{% endblock %}